<h1><center>Toronto Neighborhood Information</center></h1>

This notebook will be used to scrape the wikipedia page,
https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain postal code data about boroughs and neighbourhoods within Toronoto, Ontario, CA. We will use BeautifulSoup package to scrap web data.

In [87]:
### Import necessary liberaries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

Now let's send http request using requests package to get the data from wikipedia page and then use BeautifulSoup package to read content of http request result as xml.

In [94]:
### Get the content of wikipedia page as xml
result = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
resultContent = BeautifulSoup(result.content,'xml')

We will now use find_all function from BeautifulSoup package to find the table containing postal data from request result.

In [115]:
### Find postal code table from http request result
postalCodeTable = resultContent.find_all('table')[0]

### Convert postal code table into pandas dataframe 
df_neighborhood = pd.DataFrame(pd.read_html(str(postalCodeTable), header=0)[0])

Now let's rename the columns to PostalCode, Borough, Neighborhood and see first few rows of the dataframe

In [116]:
df_neighborhood.columns = ['PostalCode', 'Borough', 'Neighborhood']
df_neighborhood.head(20)

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
7,M8A,Not assigned,Not assigned
8,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
9,M1B,Scarborough,"Malvern, Rouge"
10,M2B,Not assigned,Not assigned
11,M3B,North York,Don Mills
12,M4B,East York,"Parkview Hill, Woodbine Gardens"
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
15,M7B,Not assigned,Not assigned
16,M8B,Not assigned,Not assigned
17,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
19,M2C,Not assigned,Not assigned

As we can see above, each borough has a few postal codes and each unique postal code can include multiple neighborhoods within a borough.

We have to ignore 'Not assigned' values in Borough columns so we will replace 'Not assigned' values in Borough column with NaN and then drop the rows with Borough = NaN

In [117]:
###Replace 'Not Assigned' values in Borough column with np.nan
df_neighborhood['Borough'].replace('Not assigned', np.nan, inplace = True)  

###Drop the rows with Borough = NaN
df_neighborhood.dropna(axis=0, inplace=True)

Next we will see if any cell has 'Not assigned' neighborhood and if so, we will assume that value of neighborhood is equal to that of the borough.

In [127]:
df_neighborhood['Neighborhood'][df_neighborhood['Neighborhood'] == 'Not assigned'] = df['Borough']

Now we are done with processing the dataframe so we will just print the dimension.

In [130]:
df.shape

(103, 3)